# Ignore swap and temporary files
*.swp
*.swo

~$*
.DS_Store

.sass-cache

.git/hooks/*

# Ignore core and contrib
/core/
/modules/contrib/
/themes/contrib/
/profiles/contrib/
/libraries/
/vendor/

# Ignore configuration files that may contain sensitive information.
/sites/*/settings*.php
/sites/*/services*.yml

# Ignore paths that contain user-generated content.
/sites/*/files/
/sites/*/private/
